---
layout: default
title: Modeling
---
<div class="blurb">
	<h1>Modeling Portfolio</h1>
	{% for image in site.static_files %}
		{% if image.path contains 'img/model/' %}
			<img style="height:150px;" src="{{ site.baseurl }}{{ image.path }}" alt="model image" />
		{% endif %} 
	{% endfor %}
	<h4>For more check out my instagram <a href="https://www.instagram.com/andysamuell" alt="link to instagram account">@andysamuell</a> or my <a href="http://www.modelmayhem.com/andysamuell" alt="link to model mayhem profile">modelmayhem profile</a><br \>If you're interested in working together, feel free to contact me via instagram or shoot me a message through my contact page!</h4>
</div><!-- /.blurb -->