---
layout: default
title: Modeling
---
<div class="blurb">
	<h1>Modeling Portfolio</h1>
	{% for image in site.static_files %}
		{% if image.path contains 'img/model/' %}
			<img style="height:150px;" src="{{ site.baseurl }}{{ image.path }}" alt="model image" />
		{% endif %} 
	{% endfor %}
	<h3>For more check out my instagram <a href="https://www.instagram.com/andysamuell" alt="link to instagram account">@andysamuell</a></h3>
	<h3>If you're interested in working together, feel free to contact me via instagram or take a look at my contact page!</h3>
</div><!-- /.blurb -->